.icon-inline {
  position:relative;
}

.audioDesc {
  display:inline-block;
  width: 161px;
  text-align:left;
}
.App-content .icon-inline img {
  width:22px;
  position: absolute;
  top:0;
  max-width: none;
  margin:0;
}

.audioDesc span {
  position: relative;
  display:none;
}
.audioDesc span.active {
  display:inline;
}

@media screen and (min-width: 350px) {
  .audioDesc {
    width: 165px;
  }
  .App-content .icon-inline img {
    width:50px;
  }
}

@media screen and (min-width: 480px) {
  .audioDesc {
    width: 180px;
  }
}

@media screen and (min-width: 760px) {
  .audioDesc {
    width: 225px;
  }
  .App-content .icon-inline img {
    width:70px;
  }
}

@media screen and (min-width: 980px) {
  .audioDesc {
    width: 270px;
  }
  .App-content .icon-inline img {
    width:80px;
  }
}

.App-default .App-header .down-arrow {
  position: absolute;
  bottom: 15px;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
}

@media screen and (min-width: 350px) {
  .App-default .App-header .down-arrow {
    width: 50px;
    margin-left: -25px;
    bottom: 25px;
  }
}

@media screen and (min-width: 480px) {
  .App-default .App-header .down-arrow {
    width: 60px;
    margin-left: -30px;
    bottom: 30px;
  }
}

@keyframes animateStroke {
  to {
    stroke-dashoffset: 0;
  }
}

#down-arrow {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: animateStroke 2s linear .5s forwards;
  animation-delay: 1.5s;
}
#circle {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: animateStroke .5s linear .5s forwards;
}
