/*Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*General Typography and Layout*/
html, body {
  position: relative;
  width: 100%;
}
body {
  font-family: 'Old Standard TT', serif;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  background-color: #000000;
}
img {
  max-width:100%;
  height: auto;
}
a:link, a:visited {
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}
.App-header {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display:table;
}
.App-footer {
  position: relative;
  width: 100%;;
  height: 100vh;
  background-color: #1C1F24;
  display:table;
}
.App-content {
  display: table-cell;
  vertical-align: middle;
}


/*Navigation*/
.navigation {
  position: fixed;
  display: block;
  z-index: 6;
  top: 45px;
  left:0;
  right:0;
  font-family: 'Cabin', sans-serif;
  font-size:1.2em;
}
.navigation li {
  display: inline-block;
}
.navigation li:first-child {
  margin-right: 30px;
}
.navigation a:link, .navigation a:visited {
  color: #FFFFFF;
  text-decoration:none;
  transition: all .2s ease-in;
}
.navigation a:hover, .navigation .active {
  text-decoration:none;
  border-bottom: 2px solid;
  display: inline-block;
  line-height: 0.9;
  text-shadow:
    2px 2px #1C1F24,
    2px -2px #1C1F24,
    -2px 2px #1C1F24,
    -2px -2px #1C1F24;
}
@media screen and (min-width: 780px) {
  .navigation {
    left: 45px;
    right:auto;
  }
}

/*Default template*/
.App-default {
  color: #FFFFFF;
  font-size: 1em;
  line-height:1;
}
.App-default p {
  font-size:1.4em;
  margin: auto;
  left: 0; right: 0;
}
.App-default .App-header p {
  margin:30px auto;
}
.App-default .App-header img {
  margin:30px 0;
}
.App-default p, img {
  width: 80%;
}
.App-default .App-content a:link,
.App-default .App-content a:visited {
  color: #FFFFFF;
  text-decoration:underline;
}
.App-default .App-content .small a,
.App-default .App-content .small a:visited {
  color: #6E7C8E;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}
.App-default .App-content .small a.external-link {
  text-decoration:none;
}
.App-default .App-content .small a:hover {
  color: #8e9fb5;
}
.App-default ul {
  position: relative;
  margin: 20px 0;
}
.App-default ul li {
  margin: 10px 0;
}
.App-default .social-nav li {
  position: relative;
  display:inline-block;
  margin: 10px;
}
.App-default .social-nav a {
  position: relative;
  background-color: #3B4451;
  border-radius: 20px;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  -webkit-transition: all .3s ease-in;
  transition: all .2s ease-in;
}
.App-default .social-nav a:hover {
  background-color: #525d6d;
}
.App-default .other-works a:link {
  text-decoration: none;
}
.App-default .other-works a:hover {
  border-bottom: 2px solid;
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px #1C1F24,
    2px -2px #1C1F24,
    -2px 2px #1C1F24,
    -2px -2px #1C1F24;
}
.App-default .social-nav img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.App-default .App-header .App-content {
  padding:160px 0 0;
}
.App-default .App-header .App-content.vertical-center {
  padding:0 0 0;
}

@media screen and (min-width: 350px) {
  .App-default {
    font-size: 1.8em;
    line-height:1;
  }
  .App-default p, img {
    width: 70%;
  }
  .App-default ul {
    margin: 30px 0;
  }
  .App-default .social-nav a {
    border-radius: 25px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 480px) {
  .App-default {
    font-size: 2em;
    line-height:1.2;
  }
  .App-default p {
    width: 60%;
  }
}

@media screen and (min-width: 760px) {
  .App-default {
    font-size: 2.5em;
    line-height:1.3;
  }
  .App-default p {
    width: 50%;
  }
  .App-default ul {
    margin: 40px 0;
  }
  .App-default ul li {
    margin: 0 0;
  }
  .App-default .social-nav a {
    border-radius: 30px;
    width: 60px;
    height: 60px;
  }
  .App-default .App-header .App-content {
    padding:240px 0 0;
  }
  .App-default .App-header .App-content.vertical-center {
    padding:0 0 75px;
  }
}

@media screen and (min-width: 980px) {
  .App-default {
    font-size: 3em;
    line-height:1.3;
  }
}

.external-link {
  position: relative;
  padding-right:1em;
}
.external-link img {
  width:.8em;
  position:absolute;
  top:.3em;
  margin:0;
  right:0;
}
p.small {
  font-size: 0.8em;
}
p.small, p.small a:link {
  color: #6E7C8E;
}
p.small a:hover {
  color: #525d6d;
}
p.fixed {
  position:fixed;
  z-index:0;
}

.Sub-fixed-top {
  position: fixed;
  z-index:0;
  width:100%;
}
.Sub-fixed-bottom {
  position: relative;
  z-index:1;
  margin-top: 200px;
  padding-top: 100px;
}
.gradient-screen {
  width:100%;
  height:100px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.image-wrapper {
  width:100%;
  background:#000000;
  padding-bottom: 100px;
}

.text-color-dark {
  color:#3B4451!important;
}

.img-bordered {
  border: solid 1px #FFFFFF;
}

/*.transition-screen {
  position: fixed;
  z-index: 5;
  height: 200vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  transform: translate3d(0, 0, 0);
  transition: all .5s ease-in;
  transition-delay: .5s;
}
.transition-screen-1 {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #3B4451;
}
.transition-screen-2 {
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
}
.transition-screen.active {
  transform: translate3d(0, -200%, 0);
}*/
