.Work .App-header{
  overflow: hidden;
  width: 90%;
  height: 100%;
  margin: auto;
  left: 0; right: 0;
}
.Work {
  font-size: 1em;
  line-height:1.2;
  transition: all .3s;
}
.touch-screen {
  position: absolute;
  width:100%; height:100%; top:0; bottom:0; left:0; right:0;
  background: transparent;
  z-index: 2;
}
.Work li {
  position: relative;
  z-index: 1;
}
.Work .active {
  z-index: 3;
}
.Work li a {
  color: #3B4451;
  transition: all .3s;
}
.Work .active a {
  font-size: 1.4em;
  color: #FFFFFF;
}
.Work .prev a, .Work .next a {
  font-size: 1.2em;
  color: #6E7C8E;
}

@media screen and (min-width: 480px) {
  .Work {
    font-size: 1.5em;
    line-height:1.3;
  }
}

@media screen and (min-width: 980px) {
  .Work {
    font-size: 2.5em;
    line-height:1.4;
  }
}
