/*Page Transitions*/

.example-enter {
  opacity: 0.01;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.fade-appear {
    opacity: 0.01;
    -webkit-transform: translate3d(0, 100px, 0) scale(.9);
    transform: translate3d(0, 100px, 0) scale(.9);
    transform-origin: center;
    transition: all .3s ease-in;
  }
.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
